# AWS deployment details for local deployment
# These are normally defined in Circle CI environment variables

# Heroku requires a separate app for production and staging
# HEROKU_SSH_KEY_PASS is the password to unzip an archive containing the private SSH key in a file named deploy_rsa

HEROKU_SSH_GIT_UAT=ssh://git@heroku.com/apitest1-uat.git
HEROKU_SSH_GIT_PROD=ssh://git@heroku.com/apitest1-prod.git
HEROKU_SSH_KEY_PASS=e05b775b-f23f-4752-8778-b5e10e976926

# Entered in lambda function environment variables
TEST_PASSWORD=ThisCanBeAUUIDOrSomthingElse!

PORT=5000

# Database
# example: DATABASE_URL=postgres://User_name:Password_value@Host_name:5432/Database_name
PGSSLMODE=disable
DB_URL=postgres://localuser:Localpass1234@localhost:5432/localdb
UAT_DB_URL=postgres://localuser:Localpass1234@localhost:5432/localdb
PROD_DB_URL=postgres://localuser:Localpass1234@localhost:5432/localdb

# Email
EMAIL_API_KEY=f0d8368d-XXXX-YYYY-ZZZZ-2d60374295e3
SENDGRID_API_KEY=XXXXXXXXXXXXXXXXXXXXXXX
